<%- include('_header') %>


    <input type="text" placeholder="user name" />
    <input type="text" placeholder="passwerd (sic)" />
    <button class="button" onclick="window.location.href='search'">Log In</button>

    <%- include('_footer') %>